header.banner {
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    .bannerLogo {
        position: absolute;
        left: 5vw;
        top: 15vh;
        height: 200px;
        width: 200px;
    }
}