header.banner {
    position: relative;
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    .bannerLogo {
        position: absolute;
        left: 10vw;
        top: 10vh;
        max-height: 20vh;
    }
}